<section id="empty-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <h1 class="thanks">Thanks for Jobbring With Us</h1>
                    <br>
                    <div class="body">
                        <p>There are no possible jobs for you to apply to, never fear, click below to see your completed matches</p>
                        <button type="submit" id="existingmatches" class="btn btn-custom"><a href='/matches'>Check my Matches!</a></button>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>