<section id="login-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <h1 class="logintxt">Welcome to Jobbr.</h1>
                    <h2 class="logintxt2">A new life starts with us!</h2>
                    <br>
                    <form class="serverform" method="post" id="login">
                        <div class="form-group-l">
                            <label for="email" class="sr-only">email</label>
                            <input type="text" name="username" id="email" class="form-control" placeholder="Email Address" autocomplete="off" />
                        </div>
                        <div class="form-group-l">
                            <label for="password" class="sr-only">Password</label>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Password" autocomplete="off" />
                        </div>
                        <div class="form-group-l">
                            <button type="submit" id="btn-login" class="btn btn-custom">Log In</button>
                            <button type="submit" id="btn-signup" class="btn btn-custom"><a href='/signup'>Sign up Here</a></button>
                        </div>
                        {{#if error}}
                        <div class="form-group-l">
                            <div class="alert alert-danger">
                                {{error}}
                            </div>
                        </div>
                        {{/if}}
                    </form> 
                </div>
            </div>
        </div>
    </div>
</section>
