<section class="match-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="login-panel panel-info">
                    <div class="body">
                        <div class="row">
                            <div class="col-md-9 col-lg-9">
                              <p>HELLO, this is the page that will display your matches</p>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>