<section class="signup-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <h1>Sign Up</h1>
                    <form class="serverform" method="post" id="sign-up-form" onsubmit="return checkForm(this);">
                        <div class="form-group">
                            <label for="firstName" class="sr-only">First Name</label>
                            <input type="text" name="firstName" id="firstName" class="form-control" placeholder="First Name" required>
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="sr-only">Last Name</label>
                            <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Last Name" required>
                        </div>
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <label for="password" class="sr-only">Password</label>
                            <input type="password" name="pwd1" id="pwd1" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <label for="password" class="sr-only">Confirm Password</label>
                            <input type="password" name="pwd2" id="pwd2" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <label for="experience" class="sr-only">Experience</label>
                            <input type="text" name="experience" id="experience" class="form-control" placeholder="Experience" required>
                        </div>
                        <div class="form-group">
                            <label for="field" class="sr-only">Field</label>
                            <input type="text" name="field" id="field" class="form-control" placeholder="Field" required>
                        </div>
                        <div class="form-group">
                            <label for="skills" class="sr-only">Skills</label>
                            <input type="text" name="skills" id="skills" class="form-control" placeholder="Skills" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="btn-login" class="btn btn-custom">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>