.allthings {  
    background-color: #dcdcdc;
    font-family: "Helvetica";
    color: black;
    margin:0px;
    padding:0px;
    overflow: hidden;
}

.container {
    margin-left: 53vw;    
}

.topnav {
    background-color: #666666; 
    margin-left: calc(50%-50rem);
	width: 100rem;
	height:50px;
    color: #00E5EE;
	overflow: hidden;
    transform: scale(1.41,1);
	border-bottom: 3px solid #9932CC;
}

.topnav a {
    color: ##9932CC;
    display: inline-block;
    padding: .5rem 2rem;
	text-align: center-left;
    text-decoration: italic;
    font-size: 25px;
	border-right: 1px solid ##9932CC;
}

.topnav a:hover {
    background-color: #9932CC;
	color: #ffb6c1;
}

.topnav a.active {
    background-color: ##9932CC;
    color: white;
}


#login-form{
    position: absolute;
    left: 50%;
    top: 50%;
    letter-spacing: 17.5rem;
}

.form-control{
    letter-spacing: .3rem;
    text-align: right;
    background-color: #f2f2f2;
}

.logintxt{
	font-family: "Amaranth";
	color: #9932CC;
	text-align: center;
    text-transform: uppercase;
    margin-top: 3.33rem;
    margin-right: 70vw;
    padding: 3rem;
    transform: scale(1.83,1.97);
    
}

.logintxt2{
    text-align: center;
    margin-top: 20rem;
    margin-left: 75rem;
    text-transform: lowercase;
    
}

.heading-signup{
	font-family: "Amaranth";
	color: #9932CC;
	text-align: center;
    text-transform: uppercase;
    margin-top: 3.33rem;
    padding: 3rem;
	margin-left: 0;
    transform: scale(1.83,1.97);
}

footer {
    font-size: 1.2rem;
    position: absolute;
    bottom: 0rem;
    right: 0rem;
}

input {
  margin-bottom: 5px;
}

.btn{
    background-color: #a6a6a6;
    border: solid-thin;
    border-radius: 5px;
    font-family: "Arial";
    color: black;
    padding: 10px 20px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

#btn-signup {
    float:right;
}

#location{
	  right: 0;
}

a:link {
    color: black;
}

a:visited {
    color: black
}

a:hover {
    color: ##9932CC;
}

a:active {
    color: ##9932CC;
}

#thumbsdown{
	  float:left;
}

#thumbsup{
	  float:right;
}

.resume {
    padding-bottom: 18px;
}

input, select {
    display: block;
    float: right;
    margin: 2px;
    box-sizing: border-box;
    text-align: right;
}

#btn-login {
    float:right;
    margin-bottom: 10px;
}

.heading-signup {
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 3rem;
}

select {
  text-align: right;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, #ccc 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #ccc 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.table-btn {
   vertical-align: middle;
}
